body {
    background-image: url("/static/images/fon.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}

#main_name {
    font-family: "TimesNewRoman";
    font-size: 20pt;
}

.regaulabels {
    color: black;
    font-size: 30pt;
    text-align: center;
}

.regau {
    width: 50%;
    margin: 0 auto;
}

.strregau {
    text-align: center;
    font-size: 16pt;
}
